name: Deploy WordPress Plugin to SiteGround

on:
  push:
    branches: [main]
    paths:
      - 'wordpress-plugin/rlg-discovery-integration/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          local_path: './wordpress-plugin/rlg-discovery-integration/*'
          remote_path: '/public_html/wp-content/plugins/rlg-discovery-integration/'
          sftp_only: true
